NodeRed/flux_nou_contenidor.json
[{"id":"889aa120.1117e","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":180,"wires":[]},{"id":"787af521.337ffc","type":"influxdb out","z":"715cc868.2c8f08","influxdb":"8a198f34.1c863","name":"","measurement":"contenidor","precision":"","retentionPolicy":"","x":810,"y":100,"wires":[]},{"id":"5a01c7c3.a26ff8","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"nouContenidor","qos":"2","datatype":"auto","broker":"7005ba8f.b12864","x":420,"y":140,"wires":[["ea261329.42d9d"]]},{"id":"ea261329.42d9d","type":"json","z":"715cc868.2c8f08","name":"","property":"payload","action":"obj","pretty":false,"x":580,"y":140,"wires":[["889aa120.1117e","787af521.337ffc"]]},{"id":"5b75d32c.4f08dc","type":"comment","z":"715cc868.2c8f08","name":"Afegir nou contenidor a InfluxDB","info":"","x":730,"y":40,"wires":[]},{"id":"f18bfae.4a63308","type":"inject","z":"715cc868.2c8f08","name":"","topic":"","payload":"{\"id\":\"CT009\",\"latitude\":\"41.165563\",\"longitude\":\"1.176988\",\"product\":\"GASOIL\",\"temperature\":\"30.3\",\"transport\":\"2\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":80,"wires":[["787af521.337ffc"]]},{"id":"8a198f34.1c863","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"contenidors","name":"","usetls":false,"tls":""},{"id":"7005ba8f.b12864","type":"mqtt-broker","z":"","name":"","broker":"gustavo.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
