NodeRed/nodered.xml
[{"id":"715cc868.2c8f08","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"889aa120.1117e","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":180,"wires":[]},{"id":"4d7334f1.dd203c","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":1180,"wires":[]},{"id":"787af521.337ffc","type":"influxdb out","z":"715cc868.2c8f08","influxdb":"8a198f34.1c863","name":"","measurement":"contenidor","precision":"","retentionPolicy":"","x":810,"y":100,"wires":[]},{"id":"f2703c4f.c2028","type":"influxdb in","z":"715cc868.2c8f08","influxdb":"8a198f34.1c863","name":"consulta","query":"select distinct(id) from contenidor ","rawOutput":false,"precision":"","retentionPolicy":"","x":520,"y":360,"wires":[["a8986abe.0a5b58"]]},{"id":"e120980c.bd8ac8","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"7d61dbe0.9341a4","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"demanaInici","qos":"2","datatype":"auto","broker":"3e03b594.98fc9a","x":290,"y":400,"wires":[["74d4e317.c080ac","f2703c4f.c2028"]]},{"id":"9e5463dd.9b368","type":"mqtt out","z":"715cc868.2c8f08","name":"","topic":"repContenidors","qos":"","retain":"","broker":"3e03b594.98fc9a","x":920,"y":380,"wires":[]},{"id":"74d4e317.c080ac","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":420,"wires":[]},{"id":"a8986abe.0a5b58","type":"json","z":"715cc868.2c8f08","name":"","property":"payload","action":"obj","pretty":true,"x":710,"y":360,"wires":[["e120980c.bd8ac8","9e5463dd.9b368"]]},{"id":"5a01c7c3.a26ff8","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"nouContenidor","qos":"2","datatype":"auto","broker":"3e03b594.98fc9a","x":420,"y":140,"wires":[["ea261329.42d9d"]]},{"id":"ea261329.42d9d","type":"json","z":"715cc868.2c8f08","name":"","property":"payload","action":"obj","pretty":false,"x":580,"y":140,"wires":[["889aa120.1117e","787af521.337ffc"]]},{"id":"5b75d32c.4f08dc","type":"comment","z":"715cc868.2c8f08","name":"Afegir nou contenidor a InfluxDB","info":"","x":730,"y":40,"wires":[]},{"id":"a47e6be2.adba08","type":"comment","z":"715cc868.2c8f08","name":"Consulta a InfluxDB per obtenir la llista inicial de contenidors","info":"","x":660,"y":260,"wires":[]},{"id":"825de0ad.75e5e","type":"comment","z":"715cc868.2c8f08","name":"Coses de Lora","info":"","x":740,"y":1080,"wires":[]},{"id":"eb04c542.afa408","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"demanaContenidor","qos":"2","datatype":"auto","broker":"3e03b594.98fc9a","x":330,"y":580,"wires":[["59a05c75.6ade54"]]},{"id":"97fb97cc.8f0c78","type":"influxdb in","z":"715cc868.2c8f08","influxdb":"8a198f34.1c863","name":"consulta","query":"msg.query","rawOutput":false,"precision":"","retentionPolicy":"","x":800,"y":580,"wires":[["efe37476.43b308","c6164e8d.cf277"]]},{"id":"efe37476.43b308","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":540,"wires":[]},{"id":"59a05c75.6ade54","type":"function","z":"715cc868.2c8f08","name":"Prepara Consulta","func":"msg.query=\"select * from contenidor where id='\"+msg.payload+\"' order by time desc limit 1\" \nreturn msg;","outputs":1,"noerr":0,"x":570,"y":580,"wires":[["97fb97cc.8f0c78"]]},{"id":"6408f234.c4656c","type":"comment","z":"715cc868.2c8f08","name":"Consulta a InfluxDB per obtenir un contenidor","info":"","x":610,"y":500,"wires":[]},{"id":"c6164e8d.cf277","type":"mqtt out","z":"715cc868.2c8f08","name":"","topic":"repContenidorInici","qos":"","retain":"","broker":"3e03b594.98fc9a","x":1030,"y":620,"wires":[]},{"id":"f18bfae.4a63308","type":"inject","z":"715cc868.2c8f08","name":"","topic":"","payload":"{\"id\":\"CT001\",\"lat\":\"50.982000\",\"lon\":\"1.150000\",\"product\":\"benzina\",\"temperatura\":\"21.3\",\"transport\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":80,"wires":[["787af521.337ffc"]]},{"id":"76deb970.3d0e78","type":"ttn uplink","z":"715cc868.2c8f08","name":"","app":"b89cb17c.9f099","dev_id":"esp32","field":"","x":960,"y":1180,"wires":[[]]},{"id":"d6b89a86.c03238","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"projecte/devices/#","qos":"2","datatype":"auto","broker":"3625ce2e.ac7d92","x":230,"y":1180,"wires":[["a3013145.1a355"]]},{"id":"a3013145.1a355","type":"json","z":"715cc868.2c8f08","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":1180,"wires":[["4d7334f1.dd203c","308f93d5.cbee3c"]]},{"id":"112241f5.09c30e","type":"inject","z":"715cc868.2c8f08","name":"","topic":"","payload":"{\"app_id\":\"projecte\",\"dev_id\":\"CT001\",\"hardware_serial\":\"00660BBD567CAEB5\",\"port\":1,\"counter\":0,\"payload_raw\":\"QcooQA==\",\"metadata\":{\"time\":\"2020-05-12T15:23:10.373007331Z\",\"frequency\":867.9,\"modulation\":\"LORA\",\"data_rate\":\"SF12BW125\",\"airtime\":1318912000,\"coding_rate\":\"4/5\",\"gateways\":[{\"gtw_id\":\"eui-0000024b0b030c61\",\"timestamp\":2877502852,\"time\":\"2020-05-12T15:23:09.499572Z\",\"channel\":4,\"rssi\":-114,\"snr\":-10.5,\"rf_chain\":0,\"latitude\":41.38084,\"longitude\":2.14109,\"altitude\":92}]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1340,"wires":[["308f93d5.cbee3c"]]},{"id":"308f93d5.cbee3c","type":"function","z":"715cc868.2c8f08","name":"Repartidor","func":"var keys = Object.keys(msg.payload);\n\nvar msgs = keys.map(function(key) {\n    return { topic: key, payload: msg.payload[key]};\n        \n    })\nreturn [msgs];","outputs":1,"noerr":0,"x":330,"y":1340,"wires":[["a86d53f1.bef53"]]},{"id":"a86d53f1.bef53","type":"switch","z":"715cc868.2c8f08","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"payload_raw","vt":"str"},{"t":"eq","v":"dev_id","vt":"str"},{"t":"eq","v":"metadata","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":1340,"wires":[["374fe677.cac6ea"],["8c59ca65.557d08"],["2545b9fc.b95c66"]]},{"id":"374fe677.cac6ea","type":"base64","z":"715cc868.2c8f08","name":"","action":"","property":"payload","x":640,"y":1280,"wires":[["24783087.af5fc"]]},{"id":"24783087.af5fc","type":"function","z":"715cc868.2c8f08","name":"Temp HEX -> String","func":"var b= new Buffer(msg.payload,'hex').readFloatBE(0).toFixed(2);\nmsg.topic=\"temp\"\nmsg.payload =b.toString()\n\nreturn msg","outputs":1,"noerr":0,"x":860,"y":1280,"wires":[["30a179a9.83b546"]]},{"id":"2545b9fc.b95c66","type":"function","z":"715cc868.2c8f08","name":"Repartidor Metadades","func":"var keys = Object.keys(msg.payload);\n\nvar msgs = keys.map(function(key) {\n    return { topic: key, payload: msg.payload[key]};\n        \n    })\nreturn [msgs];\n\n","outputs":2,"noerr":0,"x":580,"y":1440,"wires":[["4908f804.43ca68"],[]]},{"id":"4908f804.43ca68","type":"switch","z":"715cc868.2c8f08","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"gateways","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1440,"wires":[["54594152.21f78","8642f72b.d5ee08"]]},{"id":"54594152.21f78","type":"function","z":"715cc868.2c8f08","name":"Topic lat","func":"msg.topic=\"lat\"\nmsg.payload=msg.payload[0][\"latitude\"].toString()\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1400,"wires":[["30a179a9.83b546"]]},{"id":"30a179a9.83b546","type":"join","z":"715cc868.2c8f08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":1340,"wires":[["6d9ed29a.b9637c","6c7a6e9a.d37aa"]]},{"id":"8c59ca65.557d08","type":"function","z":"715cc868.2c8f08","name":"Topic Id","func":"msg.topic=\"id\"\n\nreturn msg","outputs":1,"noerr":0,"x":740,"y":1340,"wires":[["30a179a9.83b546"]]},{"id":"6d9ed29a.b9637c","type":"mqtt out","z":"715cc868.2c8f08","name":"","topic":"repContenidor","qos":"","retain":"","broker":"3e03b594.98fc9a","x":1260,"y":1360,"wires":[]},{"id":"8642f72b.d5ee08","type":"function","z":"715cc868.2c8f08","name":"Topic lon","func":"msg.topic=\"lon\"\nmsg.payload=msg.payload[0][\"longitude\"].toString()\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1480,"wires":[["30a179a9.83b546"]]},{"id":"6c7a6e9a.d37aa","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":1300,"wires":[]},{"id":"8aac96d4.25c198","type":"mqtt in","z":"715cc868.2c8f08","name":"","topic":"demanaContenidorHistoric","qos":"2","datatype":"auto","broker":"3e03b594.98fc9a","x":350,"y":860,"wires":[["24f40cf7.e64284"]]},{"id":"11d84bbe.5bfa04","type":"influxdb in","z":"715cc868.2c8f08","influxdb":"8a198f34.1c863","name":"consulta","query":"msg.query","rawOutput":false,"precision":"","retentionPolicy":"","x":800,"y":860,"wires":[["4ea9f3ac.6c1cfc","ed522d0e.327cb"]]},{"id":"4ea9f3ac.6c1cfc","type":"debug","z":"715cc868.2c8f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":820,"wires":[]},{"id":"24f40cf7.e64284","type":"function","z":"715cc868.2c8f08","name":"Prepara Consulta","func":"msg.query=\"select * from contenidor where id='\"+msg.payload+\"' order by time desc limit 1\" \nreturn msg;","outputs":1,"noerr":0,"x":570,"y":860,"wires":[["11d84bbe.5bfa04"]]},{"id":"ed522d0e.327cb","type":"mqtt out","z":"715cc868.2c8f08","name":"","topic":"repContenidorHistoric","qos":"","retain":"","broker":"3e03b594.98fc9a","x":1040,"y":900,"wires":[]},{"id":"6881384f.d61328","type":"comment","z":"715cc868.2c8f08","name":"Consulta a InfluxDB per obtenir històric contenidor","info":"","x":670,"y":740,"wires":[]},{"id":"8a198f34.1c863","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"contenidors","name":"","usetls":false,"tls":""},{"id":"3e03b594.98fc9a","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b89cb17c.9f099","type":"ttn app","z":"","appId":"projecte","accessKey":"ttn-account-v2.JiLmP4VYuLiEuOgrMhkem3rbaEOpm8DPKPvS9-kf3Lw","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"3625ce2e.ac7d92","type":"mqtt-broker","z":"","name":"","broker":"eu.thethings.network","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
